.dmFavorites-icon {
  margin: 0 4px;
  pointer-events: none;
  align-self: center;
}

.dmFavorites-icon + .dmDates-date {
  margin-left: 0;
}

.dmFavorites-icon + div[class^="iconsContainer_"] {
  padding-inline-start: 0 !important;
}
