.allActivities-icons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4px;
}

.allActivities-iconCard {
  width: 250px;
  background: transparent;
  padding: 0;
}

.allActivities-iconTooltip {
  max-width: unset !important;
}

.allActivities-icon {
  position: relative;
}
.allActivities-subicon {
  pointer-events: none;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: -4px;
  right: -4px;
  filter: drop-shadow(0 0 1px black);
}

div[class*="-member"] > div[class*="-childContainer"] {
  /* hey discord, maybe you should like, actually learn how to position gradients instead of using padding */
  padding-right: 0;

  & > div[class*="-memberInner"] {
    width: 100%;

    /* controversal rule but w/e, i dont get why discord uses --space-16 on the right side only */
    .visual-refresh & {
      padding: var(--space-xxs) var(--space-xs);
    }
  }
}
