.allActivities-icons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4px;
}

.allActivities-iconCard {
  width: 250px;
  background: transparent;
  padding: 0;
}

.allActivities-iconTooltip {
  max-width: unset !important;
}
