.inAppNotification-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inAppNotification-card {
  padding: 8px 4px;
  border-radius: 8px;
  background-color: var(--background-surface-highest);
  border: 1px solid var(--border-normal);
  box-shadow: var(--shadow-high);
  margin-bottom: 12px;
  max-width: 65vw;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes inAppNotification-timer {
  0% {
    border-bottom-right-radius: 8px;
    width: calc(100% + 10px);
  }
  0.01% {
    width: calc(99.99% + 10px);
    border-bottom-right-radius: 0px;
  }
  100% {
    width: 0;
    border-bottom-right-radius: 0px;
  }
}

.inAppNotification-timer {
  width: 0;
  height: 4px;
  position: relative;
  bottom: -9px;
  left: -5px;
  background-color: var(--text-default);
  border: 1px solid var(--text-default);
  border-bottom-left-radius: 8px;
  animation: 10s ease-in 0s inAppNotification-timer;
}

.inAppNotification-nameContainer {
  display: flex;
  align-items: center;
  padding: 4px 8px;
}
