.platform-icons-wrapper {
  display: inline-flex;
  align-items: center;
  object-fit: contain;
  margin-left: 0.25rem;
  vertical-align: text-top;
  position: relative;
  gap: 2px;
}

.platform-icons-message {
  height: 20px;
}

.platform-icons-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
  margin: 1px 0;
  padding: 0 2px;
}
