.customSounds-sound {
  display: grid;
  grid-template-columns: 0.6fr auto;
  padding: 14px;
  align-items: center;
  font-weight: 500;
  height: 80px;
  box-sizing: border-box;

  & > .customSounds-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--header-primary);
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;

    & > .inline {
      width: fit-content;
      padding: 0 0.2em;
      margin: -0.2em 0;
      border-radius: 4px;
      font-size: 85%;
      font-family: var(--font-code);
      text-indent: 0;
      text-indent: 0;
      white-space: pre-wrap;
      line-height: 1.125rem;
      background: var(--background-secondary);
      border: 1px solid var(--background-tertiary);
    }
  }
}
